/* Header */

#header-top {
    height: 50px;
    width: 100%;
    background-color: black;
}

#header-bottom i {
    font-size: 10px;
}

#returnal-game {
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#takes-two-games {
    height: 600px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#games {
    background-color: #1F1F1F;
}

#games img {
    border-radius: 15px;
}

#playstation-plus {
    background-color: #BFBCBB;
}