/* Header */

#header-top {
    height: 25px;
    width: 100%;
    background-color: black;
}

#header-bottom i {
    font-size: 10px;
}

#header-bottom {
    width: 100%;
}

#returnal-game {
    height: 800px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#navbarNav .navbar-nav {
    width: 100%;
}

.btn-darkorange {
    background-color: #CD3D10;
    color: white;
}

.btn-grey {
    background-color: #363636;
}


#takes-two-games {
    height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#games {
    background-color: #1F1F1F;
}

#games img {
    border-radius: 15px;
}

#playstation-plus {
    /* height: 400px; */
    background-color: #BFBCBB;
}

#playstation-now {
    background-color: #151C3B;
}

footer {
    background-color: #07449C;
}

#globe {
    height: 15px;
    width: 15px;
}

#logo-play {
    /* height: 100px; */
    width: 100px;
}

#logo-sony {
    /* height: 100px; */
    width: 150px;
}

footer .nav-link {
    color: white;
    text-decoration: none;
}

#logo-play {
    filter:invert(50%)
}