/* Header */

#header-top {
    height: 50px;
    width: 100%;
    background-color: black;
}

#header-bottom i {
    font-size: 10px;
}

#returnal-game {
    height: 800px;
    width: 1500px%;
    overflow: hidden;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    background-repeat: no-repeat;
}
